# Python-specific
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Virtual environments
venv/
env/

# Django-specific
db.sqlite3
/static/
media/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Environment variables
.env
